.quote-item {
    display: flex;
    justify-content: space-between;
}

.displayQuote {
    align-items: center;
    padding: .5rem;
    border-bottom: 1px solid #eee;
    box-shadow: 0 10px 6px -6px #eee;
    margin: .5rem 0;
}

.quotes {
    margin-bottom: .7rem;
}

.author,
.post,
.time {
    font-weight: 250;
    opacity: .7;
    font-size: 1rem;
}