<div class="container">
    <div class="row">
        <form action="">
            <div class="author">
                <label for="">Author Name:</label> <br>
                <input type="text" placeholder="Enter author name">
            </div>
            <div class="postedBy">
                <label for="">posted By:</label> <br>
                <input type="text" placeholder="Enter who posted">
            </div>
            <div class="quote">
                <label for="">Quote</label> <br>
                <input type="text" placeholder="Enter Quote ">
            </div>
        </form>
    </div>
</div>