<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="genQuote">
                <h3 class="hd-list">Generate Quote</h3>
                <form #forms="ngForm">
                    <div class="mb-3 form-group">
                        <label for="author" class="form-label">Author:</label>
                        <input [(ngModel)]="authorName" type="text" name="author" class="form-control" id="author">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="postBy" class="form-label">PostBY:</label>
                        <input [(ngModel)]="postByName" type="text" name="postBy" class="form-control" id="postBy">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="quote" class="form-label">Quote:</label>
                        <textarea [(ngModel)]="quoteName" type="text" name="quote" class="form-control" id="quote"></textarea>
                    </div>
                    <button type="submit" (click)="addQuote(forms)" class="btn btn-primary">Add Quote</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="postQuote">
                <h3 class="hd-list">Posted Quotes</h3>
                <div class="postedQuote">
                    <app-quotes [quotes]="Quotes"></app-quotes>
                </div>
            </div>
        </div>
    </div>
</div>