form {
    padding: 0 0 2rem 0;
}

h2 {
    font-weight: 300;
    font-size: 2rem;
}

label {
    padding: 1.2rem 0 .5rem 0;
    text-transform: capitalize;
    font-size: 1.2rem;
}

input {
    width: 100%;
    padding: .5rem 1rem;
    outline: none;
    opacity: .5;
    border: 1px solid green;
}

input::placeholder {
    /* padding: 1rem; */
    color: #000;
    opacity: .5;
}

textarea {
    width: 100%;
    outline: none;
    border: 1px solid green;
    height: 6rem;
    opacity: .5;
    padding: 1rem;
    align-items: center;
}

textarea::placeholder {
    color: #000;
    opacity: .5;
}