.nav {
    align-items: center;
}

.main-head {
    color: #fff;
    font-weight: 400;
    letter-spacing: .2rem;
}

table {
    margin-top: 1rem;
}

.btn-quote {
    padding: .4rem 1.2rem;
    border: none;
    outline: none;
    background-color: #0f52ba;
    color: #fff;
    text-transform: uppercase;
}

.dlt-quote {
    background-color: red;
    color: #fff;
    padding: .3rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}