.posted {
    align-items: center;
    padding: 1rem .5rem;
    border-bottom: 1px solid #eee;
    box-shadow: 0 10px 6px -6px #eee;
    margin: .5rem 0;
}

.qt-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thr p {
    font-size: 1rem;
    /* margin-top: .2rem; */
}

.pst-quote p {
    font-size: 1rem;
    margin-bottom: .5rem;
}

.thr,
.dte,
.pst {
    font-weight: 250;
    opacity: .7;
    font-size: 1rem;
}

i {
    line-height: 1rem;
    width: 40px;
    font-size: 1.2rem;
    margin-top: -5px;
    margin-bottom: -5px;
}

.fa-sort-up::after {
    align-items: center;
    margin-left: .2rem;
    content: "+";
    font-size: 1.2rem;
}

.fa-sort-down {
    opacity: .5;
}

.fa-sort-down::after {
    align-items: center;
    margin-left: .2rem;
    content: "-";
    font-size: 1.2rem;
}

p {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    /* line-height: 1px; */
    margin-top: -10px;
    margin-bottom: -10px;
}