<div class="posted">
    <div class="pst-quote">
        <p>I think making Quotes is awesome. Try one and get a taste on how it feels today..!</p>
    </div>
    <div class="qt-info">
        <div class="thr">
            <p>Author : J Smith</p>
        </div>
        <div class="pst">Posted by : Michael </div>
        <div class="dte">Date : 12/10/21, 4:16PM</div>
        <div class="cnt">
            <i class="fas fa-sort-up"></i>
            <p class="count">12</p>
            <i class="fas fa-sort-down"></i>
        </div>
    </div>
</div>